.navbar{
  margin: 0;
  padding: 0;
}

.navbar__list{
  @include list;
  margin-left: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__item{
  margin: 0;
  padding: 0;
  margin-right: 40px;
  position: relative;
  display: inline;
}

.navbar__item-link{
  @include item;
  font-size: 15px;
  line-height: 18px;
  color: $dark-blue;
  opacity: 0.7;
  font-weight: 700;
}

.navbar__item-link:hover{
  color: $mirage-blue;
  transition: color 0.1s ease;
}

.navbar__item-link::before{
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  left: 50%;
  right: 0;
  bottom: -1.5px;
  background-color: $mirage-blue;
  transition: all 0.3s;
}

.navbar__item-link:hover:before{
  width: 100%;
  left: 0;
}

// RESPONSIVE

@media only screen and (max-width: 720px){
  .navbar__list{
    margin-left: 60px;
  }

  .navbar__item{
    margin-right: 20px;
  }
}

@media only screen and (max-width: 630px){
  .navbar{
    display: none;
  }
}